@import "tailwindcss";
/* src/assets/styles/fonts.css */

@font-face {
  font-family: "AllianceNo1";
  src: url("/fonts/AllianceNo1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AllianceNo2";
  src: url("/fonts/AllianceNo2.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* optional: simple global transition for platform-info */
platform-info {
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

/* apply AllianceNo1 globally */
/* body {
  font-family: "AllianceNo1", "Helvetica Neue", Arial, sans-serif;
  background-color: #efefef;
  color: #000;
} */

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  animation: infinite-scroll 20s linear infinite;
}

.scroll-container:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.scroll-container {
  animation: scroll 120s linear infinite;
  display: flex;
  width: max-content;
}

.scroll-container:hover {
  animation-play-state: paused;
}
