@import "tailwindcss";


@font-face {
  font-family: "AllianceNo1";
  src: url("/fonts/AllianceNo1.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AllianceNo2";
  src: url("/fonts/AllianceNo2.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
}

platform-info {
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}



@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  animation: infinite-scroll 20s linear infinite;
}

.scroll-container:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.scroll-container {
  animation: scroll 120s linear infinite;
  display: flex;
  width: max-content;
}

.scroll-container:hover {
  animation-play-state: paused;
}

.modern-gradient-text {
  background-image: linear-gradient(
    122deg,
    rgb(30, 31, 43) -100%,
    rgb(152, 129, 243) 20%,
    rgb(19, 201, 186) 150%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
